extends layout

block content
  .container.d-flex.justify-content-center
    form.col-4
      .row.d-flex.justify-content-center
        a.btn.btn-fb.d-inline-flex(href='/auth/login/facebook', style='color:#fff;')
          div(style='border-right: solid 1px #fff; width: 15%; padding-right: 10px; color: #fff; align-items: center;display: flex;')
            i.fa.fa-facebook(aria-hidden='true')
          |  Sign up with Facebok
      .form-group
        .btn-group.btn-group-login.w-100(role='group')
          button.btn.btn-primary.w-100(type='button', style='color: #000;') Sign Up
          button.btn.btn-secondary.w-100(type='button', style='color: #000;') Login
        input.form-control(type='email', id='', placeholder='e-mail')
        input.form-control(type='password', id='', placeholder='password')
        input.form-control(type='password', id='', placeholder='confirm password')
      button.btn.w-100.btn-pink.btn-primary.text-center(type='submit') Continue
  .container.d-flex.justify-content-center
    .row
      h1 OR
  .container.d-flex.justify-content-center
    .row
      .col-3
        h4.card-title The cheapest
        .card.cheapest
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 39,99 €
      .col-3
        h4.card-title Romantic
        .card.romantic
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 69,99 €
      .col-3
        h4.card-title Sport Events
        .card.sport
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 65,99 €
      .col-3
        h4.card-title carnivals
        .card.carnivals
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 89,99 €
      .w-100.cards
      .col-3
        h4.card-title party
        .card.party
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 39,99 €
      .col-3
        h4.card-title go skiing
        .card.skiing
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 69,99 €
      .col-3
        h4.card-title go swimming
        .card.swimming
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 65,99 €
      .col-3
        h4.card-title music events
        .card.music
          .card-body
          a.btn.btn-primary.btn-card.align-self-end(href='#') From 89,99 €
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Fluid jumbotron
      p.lead
        | This is a modified jumbotron that occupies the entire horizontal space of its parent.