.btn {
	border-radius: 0;
	border: 1px solid #bdbdbd;
}

.btn-fb {
	background-color: #3b5998;
	border: 0;
	color: #ffffff;
}

.btn-profile-jumbo {
	background-color: #ffffff;
	color: #0d1973;
}

.btn-profile-jumbo {
	border: 2px #0d1973 solid;
	padding: 1em
}

.btn-profile-jumbo-active {
	background-color: #0d1973;
	color: #fff;
	border: 0;
	padding: 1em;
}

.btn-group-jumbo-profile {
	margin: 5px;
	margin-top: 1em;
}

.btn-primary {
	background-color: #a6c6ee;
	border: 0;
}

.btn-group-login {
	padding-bottom: 1em;
	color: #000;
}

.btn-secondary {
	border: 0;
}

.alert-flight-name {
	background-color: #ba4a9e;
	border: none;
}

.alert-flight-details {
border: 1px solid;
}

.ul-jumbo {
	list-style: none;
}

.cheapest {
	background-image: url(../images/cheapest.png);
}

.romantic {
	background-image: url(../images/romantic.png);
}

.sport {
	background-image: url(../images/sport.png);
}

.carnivals {
	background-image: url(../images/carnivals.png);
}

.party {
	background-image: url(../images/party.png);
}

.skiing {
	background-image: url(../images/skiing.png);
}

.swimming {
	background-image: url(../images/swimming.png);
}

.music {
	background-image: url(../images/music.png);
}

.btn-card {
	width: 60%;
	background-color: #ba4a9e;
	border: 0;
	margin-bottom: 1em;
}

.card {
	height: 12em;
	border-radius: 0;
	border: 0;
}

h4 {
	text-transform: uppercase;
	font-weight: 800;
	color: #112196;
	font-size: 1.2rem;
}

h1 {
	color: #112196;
}

.cards {
	margin-bottom: 3.5em;
}

.form-control {
	width: 100%;
	border-radius: 7px;
	border: 1px solid;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	height: 1em;
}

.form-group {

    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;

}

.btn-pink {
	background-color: #ba4a9e;
	border: 0;
	font-weight: 800;
	color: #ffffff;
	text-transform: uppercase;
}

.flight-date {
	background-color: #ba4a9e;
	border: none;
}